/********************** Common ************************/
body {
    font-family: 'Nunito Sans', 'Helvetica Neue', Arial, sans-serif;
    /*font-family:'Roboto','Helvetica Neue',Arial,sans-serif;*/
}

* {
    box-sizing: border-box;
}

html{
    font-size:16px;
}

@media screen and (max-width: 599px) {
    html {
        font-size:12px;
    }
}

/**********************Utility************************/
.text-decoration-none {
    text-decoration: none;
}

.logo-container {
    width: 255px;
    height: 242px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.color-white {
    color: #fff;
}

.color-grey {
    color: #666;
}

.button-color-indigo {
    color: #3f51b5;
    background: #fff;
    border-color: #3f51b5;
}

.button-color-indigo-on {
    color: #fff;
    background: #3f51b5;
    border-color: #3f51b5;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 36px;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 2px;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.font-bold {
    font-weight: 700;
}

.normal-lineheight {
    line-height: 1.7;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-55 {
    margin-top: 55px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-65 {
    margin-top: 65px !important;
}

.m-t-70 {
    margin-top: 70px !important;
}

.m-t-75 {
    margin-top: 75px !important;
}

.m-t-80 {
    margin-top: 80px !important;
}

.m-t-85 {
    margin-top: 85px !important;
}

.m-t-90 {
    margin-top: 90px !important;
}

.m-t-95 {
    margin-top: 95px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

/**********************Scroll Top************************/
.scroll-top {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
}

.scroll-top-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    background: rgba(57, 64, 72, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    color: #fff;
}

.scroll-top-link-arrow {
    font-size: 18px;
}

/********************** Body ************************/
.body-frame {
    background: #eaedf2;
}


/********************** Header ************************/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    min-height: 70px;
    padding: 0 20px;
}
.header-logo {
    font-size: 24px;
    letter-spacing: 3px;
}
.header-theme_00 {
    background: #667eea;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
    z-index:10000;
}
.header-nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.header-nav-list-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
}
.header-nav-list-title {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.header-nav-list-title::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .2s;
}
.header-nav-list-link:hover .header-nav-list-title::after {
    transform: scale(1, 1);
}
.header-nav-list-sub {
    position: absolute;
    top: 70px;
    min-width: 100%;
    list-style: none;
    display: none;
}
.header-nav-list-sub-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background: #4054B2;
    border-top: 1px solid #fff;
}
.header-nav-list-sub-link:hover {
    background: #6273BE;
}
.header-nav-list:hover > .header-nav-list-sub {
    display: block;
}

/********************** BaseContent ************************/
.content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto 0 auto;
    padding: 25px;
}
.content-overwrap {
    background: #fff;
    color: #3e3e3e;
}
.content-innerwrap {
    padding: 20px 40px;
}
.blog-list {
    width: 100%;
    margin: 0 0 20px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
}
.blog-list:hover .blog-list-thumbnail-image {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog-list-link {
    display: flex;
    width: 100%;
    max-height: 200px;
    background: #fff;
    word-break: break-all;
}
.blog-list-thumbnail {
    position: relative;
    width: 40%;
    overflow: hidden;
}
.blog-list-thumbnail-image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
}
.blog-list-category {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    z-index: 11;
    padding: 4px 8px;
    background: #ff8c00;
    font-weight: 800;
    color: #fff;
}
.blog-list-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 12px;
    overflow: hidden;
}
.blog-list-title {
    /*margin-bottom:14px;*/
    font-size: 20px;
    line-height: 1.6rem;
}
.blog-list-heading {
    font-size: 13px;
    line-height: 1.4rem;
    flex: 1;
    padding: 10px 0;
}
.blog-list-postdate {
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #666666;
}
.pager {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
}
.pager-list:first-child {
    margin: 0 2px 0 0;
}
.pager-list:last-child {
    margin: 0 0 0 2px;
}
.pager-list:not(:first-child):not(:last-child) {
    margin: 0 2px;
}
.pager-list-link {
    display: block;
    padding: 9px 14px;
    border: 1px solid #1BB4D3;
    color: #1BB4D3;
}
.pager-list-link:hover {
    background: #1BB4D3;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.pager-list-current {
    display: block;
    padding: 9px 14px;
    border: 1px solid #1BB4D3;
    background: #1BB4D3;
    color: #fff;
}
.side-bar {
    width: 100%;
}
.side-bar-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    text-align: left;
    background: #667eea;
    color: #fff;
    font-size: 16px;
}
.side-bar-title:not(:first-child) {
    margin: 30px 0 0 0;
}
.side-bar-title-icon {
    margin: 0 5px 0 0;
}
.side-bar-frame {
    padding: 8px 10px;
    background: #fff;
}
.author {
    padding: 16px;
}
.author-image {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border-radius: 50%;
}
.author-name {
    display: block;
    text-align: center;
    margin: 10px auto 0 auto;
}
.author-name-english {
    font-size: 20px;
    font-weight: 700;
}
.author-intro {
    margin: 10px auto 0 auto;
    font-size: 13px;
    line-height: 1.5;
}
.blogrank-list {
    list-style: none;
}
.blogrank-list-unit:not(:last-child) {
    margin: 0 0 14px 0;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #EAEAEA;
}
.blogrank-list-link {
    display: flex;
    justify-content: flex-start;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.blogrank-list-num {
    position: relative;
}
.blogrank-list-rank {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    color: #fff !important;
}
.blogrank-list-image {
    position: relative;
    display: block;
    align-self: flex-start;
    width: 80px;
    height: 80px;
    object-fit: cover;
    z-index: 10;
}
.blogrank-list-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 2px 15px 2px 10px;
    word-break: break-all;
}
.blogrank-list-desc::after {
    font-family: "Font Awesome 5 Free" !important;
    content: '\f054';
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 2%;
    font-size: 12px;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.blogrank-list-link:hover .blogrank-list-desc::after {
    right: 0;
    color: #E57373;
}
.blogrank-list-link:hover {
    color: #E57373;
    opacity: 0.8;
}
.blogrank-list-title {
    line-height: 1.5;
    font-size: 14px;
}
.blogrank-list-date {
    font-size: 12px;
    text-align: left;
    color: #b7b7b7;
}
.blogrank-list-unit:nth-child(1) .blogrank-list-rank {
    background: #FDD530;
}
.blogrank-list-unit:nth-child(2) .blogrank-list-rank {
    background: #BFBFBF;
}
.blogrank-list-unit:nth-child(3) .blogrank-list-rank {
    background: #C6762F;
}
.side-bar-ar {
    margin: 16px 0 0 0;
}
.side-bar-category-list {
    list-style: none;
}
.side-bar-category-list-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 6px;
    min-height: 48px;
    color: #666;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.side-bar-category-list-link:hover {
    background: #efefef;
}
.side-bar-category-list-item:not(:last-child) .side-bar-category-list-link {
    border-bottom: 1px solid #dcdcdc;
}
.side-bar-archive-select {
    width: 100%;
    min-height: 45px;
    padding: 10px 26px 10px 14px;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 0;
    color: #666;
    background: #fff;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
.side-bar-archive {
    position: relative;
}
.side-bar-archive::after {
    font-family: "Font Awesome 5 Free" !important;
    content: '\f0dd';
    font-weight: 900;
    position: absolute;
    top: 22%;
    right: 2%;
    font-size: 20px;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.newblog-list {
    margin: 14px 0 0 0;
    list-style: none;
}
.newblog-list-unit:not(:last-child) {
    margin: 0 0 14px 0;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #EAEAEA;
}
.newblog-list-link {
    display: flex;
    justify-content: space-between;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.newblog-list-image {
    position: relative;
    display: block;
    align-self: flex-start;
    width: 100px;
    height: auto;
}
.newblog-list-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 15px 2px 5px;
}
.newblog-list-desc::after {
    font-family: "Font Awesome 5 Free" !important;
    content: '\f054';
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 2%;
    font-size: 12px;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.newblog-list-link:hover .newblog-list-desc::after {
    right: 0;
    color: #E57373;
}
.newblog-list-link:hover {
    color: #E57373;
    opacity: 0.8;
}
.newblog-list-title {
    font-size: 14px;
}
.newblog-list-date {
    font-size: 12px;
    text-align: right;
}
.side-bar-form {
    position: relative;
    width: 100%;
    padding: 16px 0;
}
.side-bar-form-input {
    position: relative;
    width: 100%;
    padding: 10px 40px 10px 8px;
    font-size: 14px;
    border: 2px solid #dcdcdc;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.side-bar-form-input:focus {
    outline: none;
    border: 2px solid #1AB4D3;
}
.side-bar-form-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
}

/********************** Footer ************************/
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #221E1E !important;
}
.footer-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}
.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.social-media-list {
    list-style: none;
}
.social-media-list-icon {
    font-size: 24px;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.social-media-list-icon:hover {
    background: rgba(255, 255, 255, 0.1);
}
.footer-column-title {
    color: #fff;
    font-size: 20px;
    margin: 0 0 18px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #fff;
}
.footer-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-column-segment {
    width: 30%;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
}
.footer-logo-link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.footer-navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.footer-navigate-list {
    margin: 0 10px;
    line-height: 1.4rem;
}
.footer-navigate-list-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
.footer-navigate-list-link:hover {
    opacity: 0.8;
}

/********************** BlogDetail ************************/
.blog-content-share-title {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    color: #667eea;
}
.blog-content-share-title:before,
.blog-content-share-title:after{
    margin-right: 0.5em;
    content: "";
    border-top: 1px solid;
    display: inline;
    flex-grow: 1;
    color: #667eea;
}
.blog-content-share-title:before{
    margin-right: 0.5em;
}
.blog-content-share-title:after{
    margin-left: 0.5em;
}
.alert-old-post {
    margin-bottom: 10px;
    padding: 12px 8px;
    font-size: 0.8rem;
    color: #9A4A3D;
    background: #F2DEDF;
    border-radius: 3px;
}
.blog-content-image {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}
.blog-content-title {
    margin: 0 0 20px 0;
    padding: 30px 40px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    background: linear-gradient(90deg, #667eea, #764ba2);
}
.blog-content-time {
    margin: 0 0 20px 0;
    text-align: right;
    font-size: 0.8rem;
    color: #666666;
}
.blog-content-adhoc-image{
    width:100%;
    text-align:center;
}

/********************** BlogSocialShare ************************/

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}
.blog-content-social-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-content-social-share-segment-link {
    width: 18%;
    min-width: 110px;
    background-color: #fff;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #959595;
    display: flex;
    transition: all .2s ease-in-out;
    border: 1px solid rgba(44, 44, 44, 0.3);
}
.blog-content-social-share-segment-link .fab {
    font-size: 1.4rem;
    padding-right: 10px;
    transition: all .3s ease-in-out;
}
.blog-content-social-share-segment-link .fa-twitter {
    color: #1DADEB;
}
.blog-content-social-share-segment-link .fa-facebook-f {
    color: #3C5B96;
}
.blog-content-social-share-segment-link .fa-linkedin-in {
    color: #1178B3;
}
.blog-content-social-share-segment-link .fa-line {
    color: #6FC45B;
}
.blog-content-social-share-segment-link .fa-hatena {
    color: #00A4DE;
}
.blog-content-social-share-segment-link .social-text {
    font-family: "Roboto", sans-serif;
    align-self: center;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    transition: all .1s ease-in-out;
    opacity: 1;
    font-size: 0.8rem;
}
.blog-content-social-share-segment-link:hover:nth-child(1) {
    border: 1px solid #1DADEB;
    background: linear-gradient(to right, #1DADEB 0%, #1DADEB 100%);
}
.blog-content-social-share-segment-link:hover:nth-child(2) {
    border: 1px solid #3C5B96;
    background: linear-gradient(to right, #3C5B96 0%, #3C5B96 100%);
}
.blog-content-social-share-segment-link:hover:nth-child(3) {
    border: 1px solid #1178B3;
    background: linear-gradient(to right, #1178B3 0%, #1178B3 100%);
}
.blog-content-social-share-segment-link:hover:nth-child(4) {
    border: 1px solid #6FC45B;
    background: linear-gradient(to right, #6FC45B 0%, #6FC45B 100%);
}
.blog-content-social-share-segment-link:hover:nth-child(5) {
    border: 1px solid #00A4DE;
    background: linear-gradient(to right, #00A4DE 0%, #00A4DE 100%);
}
.blog-content-social-share-segment-link:hover .fab {
    color: #FFF;
}
.blog-content-social-share-icon {
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
}
.blog-content-social-share-icon-twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.blog-content-social-share-text {
    font-size: 14px;
}
.blog-content-intro {
    margin: 40px 0 0 0;
    line-height: 1.7;
}
.blog-content-index {
    margin: 40px 0 0 0;
    border: 1px solid #6495ed;
}
.blog-content-index-list {
    padding: 10px;
    background: #f5f5f5;
}
.blog-content-index-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 8px 16px;
    font-size: 20px;
    color: #fff;
    background: #6495ed;
}
.blog-content-index-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    text-decoration: none;
    min-height: 48px;
    color: #3e3e3e;
    transition: color .3s, background-color .3s;
}
.blog-content-index-list-item:before {
    content: "•";
    padding: 0 0.6rem 0 0;
    font-size: 1rem;
}
.blog-content-main {
    margin-top: 60px;
}
.blog-content-section:first-child {
    margin: 40px 0 0 0;
}
.blog-content-section:not(:first-child) {
    margin: 60px 0 0 0;
}
.blog-content-section-title {
    position: relative;
    width: 100%;
    padding: 14px 10px 14px 18px;
    font-size: 22px;
}
.blog-content-section-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background: #4157AF;
    border-radius: 4px;
}
.blog-content-section-title:not(:first-child) {
    margin-top: 60px;
}
.blog-content-section-paragraph {
    margin: 40px 0 0 0;
    line-height: 1.7;
}
.blog-content-section-image {
    width: 100%;
    height: auto;
    margin: 40px 0 0 0;
}
.blog-content-strong {
    font-weight: 700;
}
.blog-content-marker-red {
    background: linear-gradient(transparent 64%, #ffadad 0%);
}
.blog-content-marker-blue {
    background: linear-gradient(transparent 64%, #9eceff 0%);
}
.blog-content-marker-yellow {
    background: linear-gradient(transparent 64%, #ffdc00 0%);
}
.blog-profile-title {
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 26px;
    color: #3e3e3e;
    border-bottom: 2px solid #3e3e3e;
}
.blog-profile-paragraph {
    line-height: 1.7;
    margin-bottom: 20px;
    list-style: none;
}

/********************** Related ************************/
.blog-content-related {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.blog-content-related-item {
    width: 32%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
}
.blog-content-related-item-link {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    height: 220px;
    max-height: 220px;
    min-height: 220px;
}
.blog-content-related-item-thumbnail {
    position: relative;
    width: 100%;
    height: 122px;
    overflow: hidden;
}
.blog-content-related-item-overview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    padding: 6px;
}
.blog-content-related-item-title {
    font-size: 13px;
    line-height: 1.6;
}
.blog-content-related-item-category-min {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    z-index: 11;
    padding: 4px 8px;
    background: #ff8c00;
    font-weight: 800;
    color: #fff;
}
.blog-content-related-item-thumbnail-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
}
.blog-content-related-item:hover .blog-content-related-item-thumbnail-image {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.side-bar-twitter {
    position: relative;
    height: 400px;
    overflow: scroll;
}

/********************** 404 ************************/
.page-notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.page-notfound-icon {
    font-size: 150px;
    color: #777777;
}
.page-notfound-404 {
    margin-top: 20px;
    font-size: 80px;
    color: #777777;
}
.page-notfound-text {
    margin-top: 10px;
    font-size: 30px;
    color: #D3D3D3;
}

/********************** Search ************************/
.search-result-text {
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    word-break: break-all;
    line-height: 1.5;
}

/********************** ContactForm ************************/
.form-control-input {
    position: relative;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    outline: 0;
    width: 100%;
    font-size: 16px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-control-input:focus {
    border: 1px solid #01C6BE;
    transition: 0.2s;
}
.form-control-select {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
    list-style: none;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-control-field {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-control-field:focus {
    border: 1px solid #01C6BE;
    transition: 0.2s;
}
.form-control-button {
    display: inline-block;
    padding: 15px 50px;
    font-size: 16px;
    background: #01C6BE;
    color: #fff;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
    line-height: 1;
    font-weight: 700;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-control-button:hover {
    opacity: 0.8;
}
.grecaptcha-badge {
    margin-bottom: 100px;
}

/********************** Viewport ************************/


@media screen and (max-width: 599px) {
    .header {
        flex-direction:column;
        height:auto;
        padding:10px 0 0 0;
    }
    .header-nav {
        width:100%;
        justify-content: space-around;
        margin-top:20px;
    }
    .header-nav-list {
        width:25%;
        flex-direction: column;
    }
    .header-nav-list-link {
        flex-direction: column;
        padding:14px 0;
    }
    .header-nav-list-sub {
        top: 40px;
    }
    .content {
        flex-direction: column;
        margin:20px auto 0 auto;
    }
    .content-innerwrap {
        padding: 20px 20px;
    }
    .left-column {
        width: 100%;
        margin-bottom:30px;
    }
    .blog-list-link {
        flex-direction:column;
        height: auto;
        max-height: none;
    }
    .blog-list-thumbnail {
        width:100%;
    }
    .blog-list-thumbnail-image {
        width:100%;
        height:auto;
    }
    .blog-list-overview {
        width: 100%;
    }
    .blog-list-title {
        font-size: 13px;
    }
    .blog-list-heading {
        font-size: 10px;
        padding: 10px 0;
    }
    .side-bar {
        width: 100%;
    }
    .blog-content-title {
        padding: 20px 20px;
    }
    .blog-content-social-share-segment-link {
        width: 20%;
        min-width:auto;
        align-items: center;
        justify-content: center;
    }
    .blog-content-social-share-segment-link:not(:last-child) {
        border-right:none;
    }
    .social-text {
        display: none;
    }
    .blog-content-social-share-segment-link .fab {
        padding-right: 0;
    }
}

@media screen and (min-width: 600px) and ( max-width: 1040px) {
    .header-nav-list {
        width: 90px;
    }
    .header-nav-list-link {
        padding: 0 12px;
        font-size: 0.8rem;
    }
    .content {
        flex-direction: row;
    }
    .left-column {
        width: 70%;
        padding-right: 40px;
        margin-bottom:30px;
    }
    .blog-list-link {
        height: 120px;
    }
    .blog-list-title {
        font-size: 15px;
    }
    .blog-list-heading {
        display: none;
        font-size: 10px;
        padding: 10px 0;
    }
    .side-bar {
        width: 30%;
    }
    .blog-content-social-share-segment-link {
        width: 20%;
        min-width:auto;
        align-items: center;
        justify-content: center;
    }
    .blog-content-social-share-segment-link:not(:last-child) {
        border-right:none;
    }
    .social-text {
        display: none;
    }
    .blog-content-social-share-segment-link .fab {
        padding-right: 0;
    }
}

@media screen and (min-width: 1041px) {
    .header-nav-list {
        width: 110px;
    }
    .header-nav-list-link {
        padding: 0 18px;
        font-size: 0.8rem;
    }
    .content {
        flex-direction: row;
    }
    .left-column {
        width: 70%;
        padding-right: 40px;
    }
    .blog-list-link {
        height: 200px;
    }
    .blog-list-title {
        font-size: 20px;
    }
    .blog-list-heading {
        font-size: 13px;
        padding: 10px 0;
    }
    .side-bar {
        width: 30%;
    }
    .blog-content-social-share-segment-link:hover .fab {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        padding-right: 0;
    }

    .blog-content-social-share-segment-link:hover .social-text {
        opacity: 0;
    }
}
