{% load static %}
{% load blog_tag %}
{% regroup archive by created_date|date:"/Y/m/" as post_archive_list %}

<h2 class="side-bar-title m-t-20"><i class="side-bar-title-icon fas fa-archive"></i>Archive</h2>
<div class="side-bar-archive">
    <form action="">
        <select name="" class="side-bar-archive-select">
            <option value="0">月を選択</option>
            {% for post_month in post_archive_list %}
                <option value="{{ post_month.grouper }}">{{ post_month.grouper|time_split }}（{{ post_month.list|length }}）</option>
            {% endfor %}
        </select>
    </form>
</div>