{% load static %}

<h2 class="side-bar-title"><i class="side-bar-title-icon fas fa-user"></i>Author</h2>
<div class="side-bar-frame author">
    <img src="{% static 'img/photo2.jpg' %}" alt="" class="author-image">
    <p class="author-name"><span class="author-name-english">Bicepper</span><br>（バイセッパー）</p>
    <p class="author-intro">色々チャレンジしつつ現在はエンジニア。プログラミング、筋トレ、タイが趣味。</p>
    <p class="author-detail"><a href="{% url 'blog:profile' %}" class="author-detail-link">> 詳細はこちら</a></p>
    <ul class="author-social">
        <li class="author-social-list">
            <a href="https://twitter.com/bicepper" target="_blank" class="author-social-list-link"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
</div>