{% load static %}
{% load hitcount_tags %}

<h2 class="side-bar-title m-t-20"><i class="side-bar-title-icon fas fa-crown"></i><span>Ranking</span></h2>
<ul class="side-bar-frame blogrank-list">


    {% for rank in ranking %}
        <li class="blogrank-list-unit">
            <a href="{% url 'blog:detail' rank.pk %}" class="blogrank-list-link text-decoration-none">
                <div class="blogrank-list-num">
                    <span class="blogrank-list-rank">{{ forloop.counter }}</span>
                    <img src="{% get_media_prefix %}{{ rank.main_image|safe }}" alt="" class="blogrank-list-image">
                </div>
                <div class="blogrank-list-desc">
                    <h2 class="blogrank-list-title">{{ rank.title }}</h2>
                    <div class="blogrank-list-date">{{ rank.hit_count.hits }} View</div>
                </div>
            </a>
        </li>
    {% endfor %}

</ul>