{% load static %}

<h2 class="side-bar-title m-t-20">Ranking</h2>
<ul class="blogrank-list">
    <li class="blogrank-list-unit">
        <a href="blog.html" class="blogrank-list-link text-decoration-none">
            <div class="blogrank-list-num">
                <span class="blogrank-list-rank">1</span>
                <img src="static/img/shutterstock_687488425-640x360.jpg" alt="" class="blogrank-list-image">
            </div>
            <div class="blogrank-list-desc">
                <h2 class="blogrank-list-title">このブログデザインは完全対応！自分好みに変形可能！</h2>
                <div class="blogrank-list-date"><i class="far fa-calendar-alt"></i>&nbsp;2019年1月1日</div>
            </div>
        </a>
    </li>
    <li class="blogrank-list-unit">
        <a href="blog.html" class="blogrank-list-link text-decoration-none">
            <div class="blogrank-list-num">
                <span class="blogrank-list-rank">2</span>
                <img src="static/img/shutterstock_687488425-640x360.jpg" alt="" class="blogrank-list-image">
            </div>
            <div class="blogrank-list-desc">
                <h2 class="blogrank-list-title">このブログデザインは完全対応！自分好みに変形可能！</h2>
                <div class="blogrank-list-date"><i class="far fa-calendar-alt"></i>&nbsp;2019年1月1日</div>
            </div>
        </a>
    </li>
    <li class="blogrank-list-unit">
        <a href="blog.html" class="blogrank-list-link text-decoration-none">
            <div class="blogrank-list-num">
                <span class="blogrank-list-rank">3</span>
                <img src="static/img/shutterstock_687488425-640x360.jpg" alt="" class="blogrank-list-image">
            </div>
            <div class="blogrank-list-desc">
                <h2 class="blogrank-list-title">このブログデザインは完全対応！自分好みに変形可能！</h2>
                <div class="blogrank-list-date"><i class="far fa-calendar-alt"></i>&nbsp;2019年1月1日</div>
            </div>
        </a>
    </li>
</ul>