{% load static %}

<h2 class="side-bar-title m-t-20">
    <i class="side-bar-title-icon fab fa-twitter"></i>Twitter
</h2>
<div class="side-bar-frame side-bar-twitter">
<a class="twitter-timeline" href="https://twitter.com/bicepper?ref_src=twsrc%5Etfw">Tweets by bicepper</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>