{% extends 'base.html' %}
{% load static %}
{% load blog_tag %}

{% block content %}
    <div class="left-column">
        {% for posts in post_list %}
            <article class="blog-list">
                <a href="#" class="blog-list-link text-decoration-none color-grey">
                    <div>{{ posts.main_image|safe }}</div>
                    <div>{{ posts.title }}</div>
                    <div>{{ posts.content|safe }}</div>
                    <div>{{ posts.created_date|date:"Y年m月j日" }}</div>
                    <div>{{ posts.published_date }}</div>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}