{% extends 'base.html' %}
{% load static %}
{% load blog_tag %}

{% block content %}
    <div class="left-column">
        {% for posts in post_list %}
            <article class="blog-list">
                <a href="#" class="blog-list-link text-decoration-none color-grey">
                    <div class="blog-thumbnail">
                        <img src="{% get_media_prefix %}{{ posts.main_image|safe }}" alt="" class="blog-thumbnail-image">
                        <span class="blog-category-min">{{ posts.category }}</span>
                    </div>
                    <div class="blog-overview">
                        <h2 class="blog-title">{{ posts.title }}</h2>
                        <p class="blog-heading">{{ posts.description }}</p>
                        <div class="blog-postdate"><i class="far fa-calendar-alt"></i>&nbsp;{{ posts.created_date|date:"Y年m月j日" }}</div>
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
    <div class="side-bar">
        {% include 'include/sidebar/author.html' %}
        {% include 'include/sidebar/search.html' %}
        {% include 'include/sidebar/ranking.html' %}
        {% include 'include/sidebar/recent_post.html' %}
        {% include 'include/sidebar/category.html' %}
        {% include 'include/sidebar/archive.html' %}
        {% include 'include/sidebar/twitter.html' %}
    </div>
{% endblock %}