{% extends 'base.html' %}
{% load static %}
{% load blog_tag %}
{% load hitcount_tags %}

{% block content %}
    <div class="left-column">

            <article class="blog-content-main">
                <h2 class="blog-content-title">{{ blogpost.title }}</h2>
                <div class="blog-content-time"><i class="far fa-calendar-alt"></i>&nbsp;{{ blogpost.created_date|date:"Y.m.j" }}&nbsp;&nbsp;/&nbsp;&nbsp;<i class="fas fa-history"></i>&nbsp;{{ blogpost.published_date }}</div>
                <img src="{% get_media_prefix %}{{ blogpost.main_image|safe }}" alt="" class="blog-content-image">
                <div class="blog-content-social-share">
                    <div class="blog-content-social-share-segment"><a href="https://twitter.com/share?url={{ social_url }}&text={{ blogpost.title }} - Bicepper.com" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-twitter-120.png" %}" alt="icon-twitter"><span class="blog-content-social-share-text">Tweet</span></a></div>
                    <div class="blog-content-social-share-segment"><a href="https://www.facebook.com/sharer/sharer.php?u={{ social_url }}" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-facebook-120.png" %}" alt="icon-facebook"><span class="blog-content-social-share-text">Like</span></a></div>
                    <div class="blog-content-social-share-segment"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ social_url }}&title={{ blogpost.title }}" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-linkedin-120.png" %}" alt="icon-linkedin"><span class="blog-content-social-share-text">Share</span></a></div>
                    <div class="blog-content-social-share-segment"><a href="https://social-plugins.line.me/lineit/share?url={{ social_url }}" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-line-120.png" %}" alt="icon-line"><span class="blog-content-social-share-text">Share</span></a></div>
                </div>

                <div class="blog-content-intro">
                    <p>これはブログのイントロです。これはブログのイントロです。これはブログのイントロです。これはブログのイントロです。</p>
                </div>
                <div class="blog-content-index">
                    <div class="blog-content-index-title">Contents</div>
                    <ul class="blog-content-index-list">
                        <li class="blog-content-index-list-item"><span class="blog-content-index-list-item-num">1</span>aaaadeadeaw</li>
                        <li class="blog-content-index-list-item"><span class="blog-content-index-list-item-num">2</span>feawoifjeiwoajfeiwoa</li>
                        <li class="blog-content-index-list-item"><span class="blog-content-index-list-item-num">3</span>fejkfewjalk</li>
                    </ul>
                </div>

                {{ blogpost.content|safe }}

                <div class="blog-content-social-share m-t-40">
                    <div class="blog-content-social-share-segment"><a href="https://twitter.com/share?url={{ social_url }}&text={{ blogpost.title }} - Bicepper.com" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-twitter-120.png" %}" alt="icon-twitter"><span class="blog-content-social-share-text">Tweet</span></a></div>
                    <div class="blog-content-social-share-segment"><a href="https://www.facebook.com/sharer/sharer.php?u={{ social_url }}" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-facebook-120.png" %}" alt="icon-facebook"><span class="blog-content-social-share-text">Like</span></a></div>
                    <div class="blog-content-social-share-segment"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ social_url }}&title={{ blogpost.title }}" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-linkedin-120.png" %}" alt="icon-linkedin"><span class="blog-content-social-share-text">Share</span></a></div>
                    <div class="blog-content-social-share-segment"><a href="https://social-plugins.line.me/lineit/share?url={{ social_url }}" target="_blank" rel="nofollow" class="blog-content-social-share-segment-link"><img class="blog-content-social-share-icon" src="{% static "img/social-line-120.png" %}" alt="icon-line"><span class="blog-content-social-share-text">Share</span></a></div>
                </div>

                <div class="blog-content-section">
                    <h3 class="blog-content-section-title">RELATED POST</h3>
                        <div class="blog-content-related">
                            {% for posts_list in blogpost.relation_posts.all %}
                                <article class="blog-content-related-item">
                                    <a href="{% url 'blog:detail' posts_list.pk %}" class="blog-content-related-item-link text-decoration-none color-grey">
                                        <div class="blog-content-related-item-thumbnail">
                                            <img src="{% get_media_prefix %}{{ posts_list.main_image|safe }}" alt="" class="blog-content-related-item-thumbnail-image">
                                            <span class="blog-content-related-item-category-min">{{ posts_list.category.parent.title }}</span>
                                        </div>
                                        <div class="blog-content-related-item-overview">
                                            <h2 class="blog-content-related-item-title">{{ posts_list.title }}</h2>
                                            <div class="blog-postdate"><i class="far fa-calendar-alt"></i>&nbsp;{{ posts_list.created_date|date:"Y.m.j" }}</div>
                                        </div>
                                    </a>
                                </article>
                            {% endfor %}
                        </div>
                </div>
            </article>






        <p>{{ blogpost.hit_count.hits }}</p>
        <p>astx</p>
    </div>
    <div class="side-bar">
        {% include 'include/sidebar/author.html' %}
        {% include 'include/sidebar/search.html' %}
        {% include 'include/sidebar/ranking.html' %}
        {% include 'include/sidebar/category.html'%}
        {% include 'include/sidebar/archive.html' %}
        {% include 'include/sidebar/twitter.html' %}
    </div>
{% endblock %}

{% block inline_javascript %}

{% load staticfiles %}
<script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>

{% get_hit_count_js_variables for blogpost as hitcount %}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK : "{{ hitcount.pk }}" })
    .done(function(data){
      $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
      $('#hit-response').text(data.hit_message);
  }).fail(function(data){
      console.log('POST failed');
      console.log(data);
  });
});
</script>


{% endblock %}