{% extends 'base.html' %}
{% load static %}
{% load blog_tag %}

{% block content %}
    <div class="left-column">
        {% if search_text != None %}
            <div class="search-result-text">「{{ search_text }}」の検索結果</div>
        {% endif %}
        {% if object_list.all %}
            {% for posts in object_list %}
                <article class="blog-list">
                    <a href="{% url 'blog:detail' posts.pk %}" class="blog-list-link text-decoration-none color-grey">
                        <div class="blog-thumbnail">
                            <img src="{% get_media_prefix %}{{ posts.main_image|safe }}" alt="" class="blog-thumbnail-image">
                            <span class="blog-category-min">{{ posts.category.parent.title }}</span>
                        </div>
                        <div class="blog-overview">
                            <h2 class="blog-title">{{ posts.title }}</h2>
                            <p class="blog-heading">{{ posts.description }}</p>
                            <p>{{ posts.total_hits }}</p>
                            <div class="blog-postdate"><i class="far fa-calendar-alt"></i>&nbsp;{{ posts.created_date|date:"Y.m.j" }}</div>
                        </div>
                    </a>
                </article>
            {% endfor %}
        {% else %}
            <article class="content-overwrap">
                <div class="content-innerwrap">
                    <p>記事が見つかりませんでした。</p>
                </div>
            </article>
        {% endif %}

        {% if is_paginated %}
            <ul class="pager">
                {% if page_obj.has_previous %}
                    <li class="pager-list"><a class="pager-list-link text-decoration-none" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="pager-list"><span aria-current="page" class="pager-list-current">{{ i }}</span></li>
                    {% else %}
                        <li class="pager-list"><a class="pager-list-link text-decoration-none" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pager-list"><a class="pager-list-link text-decoration-none" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <div class="side-bar">
        {% include 'include/sidebar/author.html' %}
        {% include 'include/sidebar/search.html' %}
        {% include 'include/sidebar/ranking.html' %}
        {% include 'include/sidebar/category.html'%}
        {% include 'include/sidebar/archive.html' %}
        {% include 'include/sidebar/twitter.html' %}
    </div>
{% endblock %}