{% load static compress %}
<html lang="ja">
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# website:http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <!--SEO-->
    <title>{% block title %}Bicepper.com{% endblock %}</title>
    <meta name="author" content="Bicepper(バイセッパー)">
    <meta name="description" itemprop="description" content="{% block description %}プログラミング、筋トレが大好きなゴリラ系Webエンジニア、Bicepper（バイセッパー）のブログです。{% endblock %}" >
    <link rel="canonical" href="https://bicepper.com">
    <!--OGP-->
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="{% if request.path == '/' %}website{% else %}article{% endif %}" />
    <meta property="og:title" content="{% block ogtitle %}Bicepper.com{% endblock %}" />
    <meta property="og:description" content="{% block summary %}プログラミング、筋トレが大好きなゴリラ系Webエンジニア、Bicepper（バイセッパー）のブログです。{% endblock %}" />
    <meta property="og:site_name" content="{% block ogsitename %}Bicepper.com{% endblock %}" />
    <meta property="og:image" content="https://bicepper.com{% block ogimg %}{% static 'img/logo.png' %}{% endblock %}" />
    <meta property="fb:app_id" content="360427454829922" />
    <meta property="fb:admins" content="219904401360450" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@bicepper" />

    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    {% compress css %}
    <!-- Reset CSS -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
    {% endcompress %}
    <!-- Fancy CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/monokai.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    {{ gatag|safe }}
</head>
<body id="top" class="body-frame">
    {% include 'include/head/nav.html' %}

    <div class="content">
        {% block content%}
        {% endblock %}
    </div>

    {% include 'include/footer/footer.html' %}
    <!-- JS -->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script type="IN/Share" data-url="bicepper.com" data-counter="top"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block inline_javascript %}{% endblock %}
</body>
</html>