{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Privacy & Policy{% endblock %}
{% block description %}Bicepper.comのPrivacy & Policyです。{% endblock %}
{% block ogtitle %}{{ block.super }} | Privacy & Policy{% endblock %}
{% block summary %}Bicepper.comのPrivacy & Policyです。{% endblock %}
{% block ogsitename %}Privacy & Policy | {{ block.super }}{% endblock %}
{% block ogimg %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="left-column">
        <article class="content-overwrap">
            <div class="content-innerwrap">
                {% for obj in profile %}
                    {{ obj.content|safe }}
                {% endfor %}
            </div>
        </article>
    </div>
    <div class="side-bar">
        {% include 'include/sidebar/author.html' %}
        {% include 'include/sidebar/search.html' %}
        {% include 'include/sidebar/ranking.html' %}
        {% include 'include/sidebar/category.html'%}
        {% include 'include/sidebar/archive.html' %}
        {% include 'include/sidebar/twitter.html' %}
    </div>
{% endblock %}