{% load static %}
    <div class="header header-theme_00">
        <div class="logo">
            <h1><a href="https://bicepper.com" class="text-decoration-none color-white">Bicepper.com</a></h1>
        </div>
        <ul class="nav">
            <li class="nav-list"><a href="{% url 'blog:index' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">HOME</span></a></li>
            <li class="nav-list"><a href="{% url 'blog:category_list' 'code' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">CODE</span></a></li>
            <li class="nav-list"><a href="{% url 'blog:category_list' 'body' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">BODY</span></a></li>
            <li class="nav-list"><a href="{% url 'blog:category_list' 'life' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">LIFE</span></a></li>
            <li class="nav-list"><a href="{% url 'blog:profile' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">PROFILE</span></a></li>
            <li class="nav-list"><a href="{% url 'contact' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">CONTACT</span></a></li>
        </ul>
    </div>
