{% load static %}
    <div class="header header-theme_00">
        <div class="logo">
            <h1><a href="https://bicepper.com" class="text-decoration-none color-white">Bicepper.com</a></h1>
        </div>
        <ul class="nav">
            <li class="nav-list"><a href="{% url 'blog:index' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">HOME</span></a></li>

            {% for cat in categories %}
                <li class="nav-list">
                    <a href="{% url 'blog:category_list' cat.slug %}" class="nav-link color-white text-decoration-none"><span class="nav-title">{{ cat.title }}</span></a>
{#                    {% if cat.all %}#}
                        <ul class="nav-list-sub">
                        {% for sub_item in cat.subcategory_set.all %}
                            <li><a href="{% url 'blog:sub_category_list' cat.slug sub_item.slug %}" class="nav-link-sub-link text-decoration-none">{{ sub_item }}</a></li>
                        {% endfor %}
                        </ul>
{#                    {% endif %}#}
                </li>
            {% endfor %}
            <li class="nav-list"><a href="{% url 'blog:profile' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">PROFILE</span></a></li>
            <li class="nav-list"><a href="{% url 'contact' %}" class="nav-link color-white text-decoration-none"><span class="nav-title">CONTACT</span></a></li>
        </ul>
    </div>
